*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #a2aeaa;
    font-family: 'Courier New', Courier, monospace
}
:root{
    --color-one: #01F8F9;
    --color-three: #000000;
}

/* Universal header styling */

.section-header{
    font-size: 50px;
    width: 50%;
    padding-bottom: 20px;
    text-align: left;
}

/* End of Universal header styles */

/* Nav Bar Styling */
header{
    padding: 20px 35px;
    background-color: var(--color-three);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-shadow: 0 0 10px rgba(255,255,255, 1);
}

.who-am-i p span{
    font-weight: 900;
    font-size: 25px;
    text-transform: uppercase;
}

header h1{
    font-size: 50px;
}

header a{
    text-decoration: none;
    color: var(--color-one);

}

header nav{
    margin: 7px 0;
}

header nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a{
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 35px;
}
/* End Of Nav Styling */

/* About Me Styling */
.who-am-i img{
    height: 250px;
    width: 225px;
    border-radius: 200px;
    padding: 20px;
}

.who-am-i{
    display:flex;
    width: 100%;
    align-items: center;

}

.who-am-i p{
    text-align: center;
}

/* End of About Me Styling */

/* Projects Styling */
.imgholder{
    text-align: center;
}

.what-i-did a{
    text-decoration: none;
}


.what-i-did img{
    height: 200px;
    width: 300px;
    display: inline-block;
    border: 3px solid var(--color-two);
}

#first-project{
    height:250px;
    width:300px;
}

.what-i-did img:hover, #first-project:hover{
    height: 300px;
    width:350px;
    background-color: rgba(1, 248, 249,0.5);
    transition: .3s;
}
/* End of Project Styling */

/* Resume Styling */

.i-have-done{
    text-align: center;
}
.i-have-done h2{
    font-size:50px;
    width: 0%;
    padding: 20px;
    text-align: center;
}

.i-have-done p{
    line-height: 1.55em;
}

.i-have-done a{
    text-decoration: none;
    font-weight: 800;

}


/* End of Resume Styling */

/* Footer/contact styling */
footer{
    text-align:center;
    padding: 20px;
}
footer h2{
    font-size: 50px;
}
footer img{
    height: 50px;
    width:50px
}

footer a{
    text-decoration: none;
    padding: 20px
}

/* End of Footer/contact styling */

/* MEDIA QUERIES */

@media screen and (max-width:980px){
    header{
        padding-bottom: 0;
        justify-content: center;
        position: relative;
      }

      header h1{
          text-align: center;
      }

      header nav ul{
        margin-top: 20px;
        width: 100%;
        justify-content: center;
      }
    
      header nav ul li a{
        font-size: 30px;
        padding-bottom: 10px;
      }
}

