*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #a2aeaa;
    font-family: 'Courier New', Courier, monospace
}
:root{
    --color-one: #01F8F9;
    --color-two: #0A4C96;
    --color-three: #000000;
}

/* Nav Bar Styling */
header{
    padding: 20px 35px;
    background-color: var(--color-three);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-shadow: 0 0 10px rgba(255,255,255, 1);
}

header a{
    text-decoration: none;
    color: var(--color-one);

}

header nav{
    margin: 7px 0;
}

header nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a{
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
}
/* End Of Nav Styling */

/* About Me Styling */

#about-pic{
    height: 300px;
    width: 400x;
    border-radius: 60%;
    position: relative;
    left: 250px
}

.who-am-i h2{
    font-size: 50px;
    width: 20%;
}

.who-am-i p{
    font-size: 18px;
    line-height: 1.55em;
    
}

/* End of About Me Styling */

/* Projects Styling */
.what-i-did h2{
    font-size: 50px;
    width: 20%;
}

.imgholder{
    text-align: center;
}

.what-i-did a{
    text-decoration: none;
}

.what-i-did img{
    height: 200px;
    width: 300px;
    display: inline-block;
    border: 3px solid var(--color-two);
}

#first-project{
    height:250px;
    width:300px;
}

.what-i-did img:hover, #first-project:hover{
    height: 300px;
    width:350px;
    background-color: rgba(1, 248, 249,0.5);
    transition: .3s;
}
/* End of Project Styling */

/* Resume Styling */
.i-have-done h2{
    font-size:50px;
    width: 0%;
}

.i-have-done{
    text-align: center;
    line-height: 1.55em;
}

.i-have-done a{
    text-decoration: none;
    font-weight: 800;
}
/* End of Resume Styling */

/* Footer/contact styling */
footer{
    text-align:center;
    padding: 20px;
}
footer h2{
    font-size: 50px;
}
footer img{
    height: 100px;
    width:100px
}

footer a{
    text-decoration: none;
    padding: 20px
}

/* End of Footer/contact styling */